body {
    font-family: 'Raleway', sans-serif;
}
section#header{
    padding: 2% 4%;
    background-color: #ed3309;
}
section#header>.jumbotron {
    background-image: url('../images/IMG_5454.JPG');
    background-size: 40% 100%;
    background-repeat: no-repeat;
    background-position: right center;
    padding: 10% 4%;
    padding-left: 25px;
    border-radius: none;
}

h1#header {
    font-weight: 200;
    font-size: 300%;
}