<footer id="footer">
    <div class="container-fluid">
        <h2>Contact</h2>
        <hr />
        <div class="row">
            <a href="tel:+917358743890" class="footer-link col-lg-12"><i class="fa fa-phone"></i> +91 73587 43890</a>
            <a href="https://www.instagram.com/afnaanskitchen/" class="footer-link col-lg-12"><i
                    class="social-icon fab fa-instagram"></i> @afnaanskitchen</a>
            <a href="mailto:afnaanskitchen@gmail.com" class="footer-link col-lg-12">
                <i class="social-icon fas fa-envelope"></i> afnaanskitchen@gmail.com
            </a>
        </div>
        <hr />
        <br />
        <br />
        <p>© Copyright <span class="year"></span> Afnaan's Kitchen</p>
    </div>
</footer>