body {
  font-family: "Raleway", sans-serif;
}

.container {
  width: 95%;
  max-width: none;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.navbar {
  opacity: 0.9;
  background-color: #fff;
}

.navbar a {
  font-family: "Montserrat";
}

.nav-item.active {
  transition: box-shadow 0.5s;
}

.toggler {
  font-size: 80%;
  font-weight: 500;
}

section#header > .jumbotron {
  /* background-color: #03c0bb; */
  /* color: white; */
  margin-top: 15px;
  background-size: 47% 100%;
  background-repeat: no-repeat;
  background-position: right center;
  padding: 10% 4%;
  padding-left: 25px;
}

section#header.index > .jumbotron {
  background-image: url("../images/header_background.JPG");
}

section#header.menu > .jumbotron {
  background-image: url("../images/header_background.JPG");
  margin: 0 auto;
}

.item {
  text-align: center !important;
}

.icon-box img {
  width: 100%;
  height: 90%;
  margin: 0 auto;
}

.item-title {
  position: absolute;
}

.item-img {
  width: 100%;
  height: 20%;
}

.veg-non-veg-mark {
  float: right;
}

.header {
  width: 53%;
}

.index .header {
  font-weight: 200;
  font-size: 300%;
}

.menu .header {
  font-weight: 500;
  font-size: 400%;
}

.card > .card-img-top {
  margin-top: 10px;
}

.card {
  margin-bottom: 20px !important;
}

.card-group {
  width: 90%;
  margin: 0 auto;
}

.card-icon {
  text-align: center;
  padding: 20px;
  height: 60%;
  font-size: 700%;
}

#footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  opacity: 0.8;
  padding: 100px;
  border-radius: 8px;
  margin-top: 20px;
}

.footer-link {
  color: #fff;
  display: block;
}

.footer-link:hover {
  color: #fff;
  text-decoration: underline;
}

.social-icon {
  margin: 20px 10px;
}

hr {
  border-top: 5px solid #fff;
}

@media (max-width: 700px) {
  h1#header {
    font-size: 200%;
  }
}

@media (max-width: 1200px) {
  .card {
    flex: none;
  }
}
