@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Top level */
body {
  font-family: "Raleway", sans-serif;
}

hr {
  border-top: 5px solid #fff;
}

.container {
  width: 95%;
  max-width: none;
}

.hidden {
  display: none;
}

.unavailable {
  text-align: center;
}

.avatar {
  width: 150px;
  height: 150px;
  margin: 20px auto !important;
}

label.error {
  color: red;
  font-size: 1rem;
  display: block;
  text-align: left;
  margin-top: 5px;
}

input.error,
textarea.error {
  border: 1px dashed red;
  font-weight: 300;
  color: red;
}

.disabled {
  cursor: not-allowed;
}
/* Navbar */
.logo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.navbar {
  opacity: 0.9;
  background-color: #fff;
}

.navbar a {
  font-family: "Montserrat";
}

.nav-item.active {
  transition: box-shadow 0.5s;
}

.toggler {
  font-size: 80%;
  font-weight: 500;
}

.dropdown {
  opacity: 1;
}

/* Jumbotrons */
.jumbotron {
  margin-top: 15px;
  background-size: 47% 100%;
  background-repeat: no-repeat;
  background-position: right center;
  padding: 10% 4%;
  padding-left: 25px;
}

.index .jumbotron {
  background-image: url("../images/header_background.JPG");
}

.menu-type-header .jumbotron {
  background-size: 40% 100%;
  background-repeat: no-repeat;
  background-position: right center;
}

.menu .jumbotron {
  background-image: url("../images/menu.jpg");
}

section#header.menu-type-header > .jumbotron {
  padding: 0 4% 10% 4%;
}

.header-description {
  width: 53%;
  font-weight: 200;
  font-size: 300%;
}

.menu-type-header .title {
  padding: 2% 0 4%;
  font-weight: 500;
  font-size: 400%;
}

.subtext {
  margin-top: 10%;
  font-size: 100%;
}

/* Card */
.card {
  padding: 20px;
  margin-bottom: 20px !important;
}

.card-group {
  width: 90%;
  margin: 0 auto;
}

.card-icon {
  text-align: center;
  padding: 20px;
  height: 60%;
  font-size: 700%;
}

/* Veg/Non-veg */
.cover {
  background-color: white;
  width: 35px;
  height: 35px;
  left: auto;
  padding: 4px;
}

.veg,
.non-veg {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 2px auto;
}

.veg {
  background-color: green;
}

.non-veg {
  background-color: red;
}

/* Menu items */
.food-type {
  padding: 10px 0;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  margin: 20px auto;
}

.description {
  margin-top: 20px;
  height: 72px;
}

.card-img-overlay {
  top: 2px;
  left: 5px;
  height: fit-content;
}

.right-align {
  left: auto;
  top: 5px;
  right: 5px;
}

.order-button {
  padding: 25px 25%;
}

.row-wrapper {
  margin: 0 auto;
}

/* Search Input */
.search-group {
  text-align: center;
}

label {
  text-align: center;
}

.styled-input {
  display: inline-block;
  width: 80%;
  margin-left: 10px;
}

/* Footer */
#footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  opacity: 0.8;
  padding: 100px;
  border-radius: 8px;
  margin-top: 20px;
}

.footer-link {
  color: #fff;
  margin: 10px 10px;
}

.footer-link:hover {
  color: #fff;
  text-decoration: underline;
}

.social-icon {
  margin-right: 10px;
}

/* Responsiveness */
@media (max-width: 700px) {
  h1.header-description {
    font-size: 200%;
  }

  .menu-type-header .title {
    font-size: 200%;
  }

  .menu-type-header .jumbotron {
    background-image: none;
  }
}
