<!DOCTYPE html>
<html lang="en">

    <head></head>

    <body style='font-family:"Roboto"'>
        Thanks for signing up to Afnaan's Kitchen! We hope you will have an excellent time eating our yummy pizzas! Just
        one last step...
        <br>
        Head over to {{url}} to automatically confirm your
        account. You will then by redirected to the homepage. Happy eating!
        <div>
            Best Wishes,<br>
            Safwan Samsudeen,<br>
            Afnaan's Kitchen <br>
        </div>
    </body>

</html>