{% load helper_tags %}
<!DOCTYPE html>
<html lang="en">

    <head></head>

    <body style='font-family:"Roboto"'>
        <div>
            Hello,
        </div>
        User {{current_user}} has given in an order with the following items.
        <ul>
            {% for order in cart_items %}
            <li>
                <em>{{order.item}}</em> - {{order.qty}}
            </li>
            {% endfor %}
        </ul>
        <p>User {{current_user}} wants you to deliver his pizzas at {{order.delivery_time}}. Thanks!</p>
        User details
        <ul>
            <li>Phone Number: <a href="tel:{{current_user.phone_number}}">{{current_user.phone_number}}</a></li>
            <li>Email Address: {{current_user.user.email}}</li>
            <li>Address: <a
                    href="https://www.google.com/maps/place/{{current_user.address | replace_space_with:'+'}}">{{current_user.address}}</a>
            </li>
        </ul>
        <div>
            Best Wishes,<br>
            Safwan Samsudeen,<br>
            Afnaan's Kitchen <br>
        </div>
    </body>

</html>