{% extends 'base.html' %}
{% load index %}
{% block title %}Menu{% endblock %}
{% block content %}
<section id="header" class="menu">
  <div class="jumbotron">
    <h1 class="title">Our Menu</h1>
    <small class="subtext">Check out all of our delicious items!</small>
  </div>
</section>
<section id="menu">
  <div class="form-group search-group">
    <label for="search-input"> Search: </label>
    <input type="text" class="form-control styled-input" id="search-input" />
  </div>
  <div class="hidden unavailable">No results available</div>
  {% for item_type in items %}
  <div class="row item-row justify-content-center">
    <h1 class="col-md-12 text-center food-type">{{types | index:forloop.counter0}}</h1>
    {% for item in item_type %}
    <div class="col-md-6 col-lg-4 mb-4 item">
      <div class="card">
        <img class="card-img-top" src="{{item.main_image.url}}" alt="Margherita Pizza Image" />
        <div class="card-img-overlay">
          <h2>
            <span class="badge badge-primary text-white">₹{{item.price}}</span>
          </h2>
        </div>
        <div class="card-img-overlay right-align">
          <div class="cover">
            <div class="{% if item.veg %}veg{% else %}non-veg{% endif %}"></div>
          </div>
        </div>
        <div class="card-body">
          <div class="listing-heading text-center">
            <h4 class="text-primary">{{item}}</h4>
            <div class="col-12 text-center description">
              {{item.description}}
            </div>
          </div>
          <hr />
          <hr />
          <hr />
          <a href="order.html" class="btn btn-primary btn-block order-button">Order Now</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</section>
{% endblock content %}