{% extends 'base.html' %}
{% block title %}Settings{% endblock %}
{% block content %}

<div class="card">
    <div class="card-body">
        {% include 'partials/_alerts.html' %}
        <h3 class='text-center'>Change Details</h3>
        <form action="{% url 'settings' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" value='{{cusUser}}' required autocomplete="off"
                    disabled />
            </div>
            <div class="form-group">
                <label for="phone_number">Phone Number</label>
                <input type="text" name="phone_number" class="form-control" value='{{cusUser.phone_number}}' required
                    autocomplete="off" />
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <textarea name="address" class="form-control" required>{{cusUser.address}}</textarea>
            </div>
            <input type="submit" value="Save details" class="btn btn-primary btn-block" />
        </form>
        <h3 class='text-center mt-4'>Change Email Address</h3>
        <form action="{% url 'change_email' %}" method='POST'>
            {% csrf_token %}
            <div class="form-group">
                <label for="email">New Email Address</label>
                <input type="email" name="email" class="form-control" value='{{cusUser.user.email}}' required
                    autocomplete="off" />
            </div>
            <input type="submit" value="Change Email Address" class="btn btn-primary btn-block" />
        </form>
        <h3 class='text-center mt-4'>Change Password</h3>
        <form action="{% url 'change_password' %}" method='POST'>
            {% csrf_token %}
            <div class="form-group">
                <label for="password2">Old Password</label>
                <input type='password' name="password" class="form-control" required autocomplete="off" />
            </div>
            <div class="form-group">
                <label for="password2">New Password</label>
                <input type='password' name="password" class="form-control" required autocomplete="off" />
            </div>
            <div class="form-group">
                <label for="password">Confirm New Password</label>
                <input type="password" name="password2" class="form-control" required autocomplete="off" />
            </div>
            <input type="submit" value="Change Password" class="btn btn-primary btn-block" />
        </form>
    </div>
</div>

{% endblock content %}